<!DOCTYPE html>
<html>

<head>
    <title>My Bookings</title>
</head>

<body>
    {% include 'navbar.html' %}
    <h2>My Bookings</h2>
    <a href="/dashboard">← Back to Dashboard</a><br><br>

    {% if bookings %}
    <table border="1" cellpadding="10">
        <tr>
            <th>#</th>
            <th>From</th>
            <th>To</th>
            <th>Date</th>
            <th>Seat Type</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.display_id }}</td>
            <td>{{ booking.departure_city }}</td>
            <td>{{ booking.arrival_city }}</td>
            <td>{{ booking.travel_date }}</td>
            <td>{{ booking.seat_type }}</td>
            <td>{{ booking.final_price }}</td>
            <td>{{ booking.status }}</td>
            <td>
                {% if booking.status == 'paid' %}
                <form action="{{ url_for('cancel_booking', booking_id=booking.booking_id) }}" method="POST"
                    onsubmit="return confirm('Are you sure you want to cancel this booking?');">
                    <button type="submit">Cancel</button>
                    <button><a href="{{ url_for('update_booking', booking_id=booking.booking_id) }}">Update</a></button>
                </form>
                {% else %}
                Cancelled
                {% endif %}
            </td>

        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No bookings found.</p>
    {% endif %} <br><br>
    {% if bookings|selectattr("status", "equalto", "cancelled")|list %}
    <form method="POST" action="{{ url_for('clear_cancelled') }}">
        <button type="submit">Clear Cancelled Bookings</button>
    </form>
    {% endif %}

</body>

</html>