<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="profile-page">
    {% include 'navbar.html' %}
    <div class="page-contenst">
        <div class="profile-wrapper">
            {% if selected_tab == 'edit' %}
            <h2>Edit Your Profile</h2>
            <form method="POST" class="profile-form">
                <input type="hidden" name="form_type" value="profile">

                <label>Name:</label>
                <input type="text" name="name" value="{{ user.name }}" required>

                <label>Email:</label>
                <input type="email" name="email" value="{{ user.email }}" required>

                <button type="submit" class="btn-save">Update Profile</button>
            </form>
            {% endif %}

            <hr>
            {% if selected_tab == 'password' %}
            <h2>Change Password</h2>
            <form method="POST" class="profile-form">
                <input type="hidden" name="form_type" value="password">

                <label>Current Password:</label>
                <input type="password" name="current_password" required>

                <label>New Password:</label>
                <input type="password" name="new_password" required>

                <label>Confirm New Password:</label>
                <input type="password" name="confirm_password" required>

                <button type="submit" class="btn-save">Change Password</button>
            </form>
            {% endif %}
            <div class="back-link">
                <a href="/dashboard">← Back to Dashboard</a>
            </div>
        </div>
    </div>
</body>

</html>